third_party/OpenCV*
third_party/opencv*
*.swp
obj/
!./jni/opencv/*
*.bin
/travis-ci/android-ndk
libs/
dlib-android-app/dlib/src/main/jniLibs
dlib-android-app/app/src/main/res/raw/shape_predictor_68_face_landmarks.dat